.add-todo-item {
    display: flex;
    column-gap: 1rem;
    align-items: flex-end;
}

.input-wrapper__input {
    height: 100%;
} 

.add-todo-item__add-btn {
    height: 30px;
    width: 5rem;
}

.add-todo-item__add-btn:hover {
    background-color: black;
}